h1 {
    margin: 0;
    padding-top: 50px;
  }
  .container-fluid {
    text-align: center;
    font-size: 20px;
    color: white;
    background: rgb(218,107,20);
    background: linear-gradient(0deg, rgba(218,107,20,1) 0%, rgba(102,184,136,1) 100%);
    width: 100vw;
    
  }
  
  button {
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }